// out: styles.css
// compress: false, strictMath: false


@gridcol: #ccc;
@gridthick: 1px;

@growcoeff: 1.05;


body {
    padding: 0;
}

.gridContainer {
  padding: 0;
  //top: 8.3%;
  top:0;
  left:calc(((100%*(@growcoeff - 1))/2) /@growcoeff);
  
  position:fixed;
  width:calc(100%/@growcoeff);
  height:calc(100%/@growcoeff); 
  
  pointer-events: none;
  
  z-index:2147483647;
}

.birchHiddenGridContainer {
  display:none;
}

.grid {
    
  position:relative;
  left:calc(-(100%*(@growcoeff - 1))/2);
  
  //top:-10%;
  top:0;
  //float:left;
  
  width:calc(100%*@growcoeff);
  height:calc(100%*@growcoeff);
	
    //overflow: auto;
	display: table;
    table-layout: fixed;
  
  pointer-events: inherit;
}

.gridBorderOn {
  border: @gridthick solid @gridcol;
  border-width: @gridthick 0 0 @gridthick;
  //outline: 1px solid 0;
}

.gridBorderOff {
}

.row {
    //border: 1px solid #ccc;
    //border-width: 0 1px 1px 0;
    
    display: table-row;
  pointer-events: inherit;
  
}

@cellratio:calc(100%/3);

.cell {
  padding:0;
  
  width:@cellratio;
  height:@cellratio;
  display: table-cell;
  
  
  // text
  line-height: @cellratio; 
  text-align:center;
  vertical-align:middle;
  color: #000;
  color:rgba(0, 0, 0, 0.5);
  font-family:Geneva, Arial, Helvetica, sans-serif;
  
  pointer-events: inherit;
  
  position:relative;
  overflow:visible;
  clear:both;
}

.cellBorderOn {
  /*border: @gridthick solid @gridcol;
  border-width: @gridthick @gridthick @gridthick @gridthick;
  //border-style:double;
  outline: 1px solid 0;
  outline-offset: 1px;*/
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #888; 
}

.cellBorderOff {
}

@backingprop: 0.8;
@radius: 15%;
@backinggrey: 230;

.backing {
  position:absolute;
  
  top:calc(100%*(1-@backingprop)/2);
  left:calc(100%*(1-@backingprop)/2);
  
  width:calc(100%*@backingprop);
  height:calc(100%*@backingprop);
  background:rgba(@backinggrey, @backinggrey, @backinggrey, 0.25);
  
  z-index:-1;
  
  -moz-border-radius: @radius @radius;
  -webkit-border-radius: @radius @radius;
  border-radius: @radius @radius;
  
  //background-blend-mode: difference, normal; // Chrome Canary
  //-webkit-background-blend-mode: difference, normal; // WebKit Nightly
}

@haircol:rgba(255, 0, 0, 1);
@hairthick:1px;
@hairborderthick:1px;

.fullContainer {
 top:0;
  left:0;
  
  width:100%;
  height:100%;
  
  position:fixed;
  padding:0;
  
  pointer-events: none;
}

.shownCrosshairs {
  .fullContainer;
  
  z-index:2147483646;
}

.hiddenCrosshairs {  
  pointer-events: none;
  
  display:none;
}

.hairBorder {
  //border-width: @hairborderthick @hairborderthick @hairborderthick @hairborderthick;
  //border-color:#00ffff;
  
  //outline-color:;
  //outline: 1px solid 0;
}

.hairlinecommon {
  padding:0;
  
  position:relative;
  
  pointer-events: inherit;
  
  background:@haircol;
  
  .hairBorder;
}

.horizontalHair {
  .hairlinecommon;
  
  left:inherit;
  
  width:inherit;
  height:@hairthick;
}

.verticalHair {
  .hairlinecommon;
  
  top:-@hairthick;
  
  width:@hairthick;
  height:inherit;
}

.targeted {
    background: yellow!important;
    //padding: 3px 5px;
    //margin: -3px -5px;
    //line-height: 1.7;
  
    border-radius: 3px;
    /*border-color: red!important;
    border: 3px solid black;
    box-sizing: border-box;*/
    //border-radius: 3px;
    box-shadow:  0 0 10px #ff00ff;
  
    //display:inline-block;
}

.birchPainted {
    background: cyan!important;
    //padding: 3px 5px;
    //margin: -3px -5px;
    //line-height: 1.7;
  
    border-radius: 3px;
    /*border-color: red!important;
    border: 3px solid black;
    box-sizing: border-box;*/
    //border-radius: 3px;
    box-shadow:  0 0 10px #ff0000;
  
    background-blend-mode: darken, normal; // Chrome Canary
    -webkit-background-blend-mode: darken, normal; // WebKit Nightly
    //display:inline-block;
}

.cluck {
    background: red!important;
    //padding: 3px 5px;
    //margin: -3px -5px;
    //line-height: 1.7;
  
    /*border-radius: 3px;
    border-color: red!important;
    border: 3px solid black;*/
  
    //display:inline-block;
}

.flyoutContainer {
 .fullContainer;
  
  z-index:2147483645;
}

.shownfC {
}

.hiddenfC {
 display:none;
}

.aFlyout {
  position: absolute;
 width:100%;
 height:100%;
}

.birchAFlyoutHidden {
 display: none;
}

.flyout {
  background: rgb(0,173,0);
  outline-color:#000000;
  outline: 1px solid 0!important;
  position: absolute;
  top:0;
  left: 0;
 width:20px;
 text-align: center;
}

.lineDiv {
}

.lineSvg {
}

.line {
 stroke:rgb(0,173,0);
 stroke-width:2;
}