body {
    padding: 0;
}

.grid {
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
    padding: 0;
	top: 0;
	float: left;
	position: fixed;
}

.grid div {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    float: left;
}